.cuerpo{
    background-color: aqua;
    text-align: center;
    height: 50px;
}
.left{
    	background-color: burlywood;
        float: left;
        height: 200px;
        width: 200px;
        text-align: center;
        padding-top: 50px;
}
.hola{
    background-color:darkcyan;
    margin-left: 100px;
}
.right{
    background-color: chartreuse;
    float: right;
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 50px;
}
.menu1{
    position: absolute;
    top: 300px;
    
}

img{
    margin-left: 176px;
}